:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
/* Typography */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}
h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* Links */
a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */

.badge {
  font-size: 2rem;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  font-weight: 600;
  white-space: nowrap;
}
.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}
.badge--primary {
  background-color: var(--color-primary);
  color: #fff;
}
.badge--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}
.badge--green {
  background-color: #44b78b;
  color: #fff;
}
.badge--purple {
  background-color: #7952b3;
  color: #fff;
}
.badge--light {
  background-color: #52565a;
  color: #fff;
}
.badge--accent {
  background-color: var(--color-accent);
  color: #fff;
}
.badge__list .badge {
  margin-right: 1rem;
}
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}
.icon--small {
  height: 30px;
  width: 30px;
}
.icon--primary {
  fill: var(--color-primary);
}
.icon--white {
  fill: #fff;
}
.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-container--accent {
  background: var(--color-accent);
}
/* Buttons */

.btn {
  border: none;
  outline: 0;
  border-radius: 40px;
  padding: 2rem 3rem;
  margin: 1rem 0;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}

.btn--accent {
  background-color: var(--color-accent);
  color: #fff;
}
.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}
.btn--outline {
  border: 3px solid var(--color-headings);
  background: #fff;
}
.btn--outline:hover {
  background: var(--color-headings);
  color: #fff;
}
.btn--accent:hover {
  background-color: #ec3000;
}
.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background-color: #3a8ffd;
  color: #fff;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.btn--secondary:hover {
  background: #00c8eb;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Inputs */
.input {
  border: 1px solid var(--color-border);
  outline: 0;
  border-radius: var(--border-radius);
  padding: 1.5rem 3.5rem;
  color: var(--color-headings);
  font-size: 2rem;
}

::placeholder {
  color: #cdcbd7;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* Input Groups */
.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
  width: 40%;
}
.input-group .btn {
  margin: 4px;
}
.input-group .input {
  border: none;
  flex-grow: 1;
  padding: 1.5rem 1rem;
}

/* Cards */

.card {
  box-shadow: 0 0 20px 10px #f3f3f3;
  border-radius: 7px;
  overflow: hidden;
}
.card--primary .card__header {
  background-color: var(--color-primary);
  color: #fff;
}
.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: #fff;
}

.card--secondary .badge--secondary {
  background: #02cdf1;
}
.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card__image {
  width: 100%;
  height: auto;
}

.item__title {
  color: #fff;
  margin: 0;
  font-size: 2.4rem;
  font-weight: 500;
}

.item__main {
  font-size: 6rem;
}
.item__sub {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.item__description {
  font-size: 2rem;
  display: block;
  font-weight: 300;
  letter-spacing: 1px;
}

.card .list--item {
  margin-bottom: 2rem;
}
.card__header {
  position: relative;
}

@media screen and (min-width: 1024px) {
  .item__title {
    font-size: 1.4rem;
  }
  .item__main {
    font-size: 5rem;
  }
  .item__sub {
    font-size: 1.6rem;
  }
  .item__description {
    font-size: 1.7rem;
  }
}

/* Media Object */

.media {
  display: flex;
}
.media__title {
  margin-top: 0;
}
.media__image {
  margin-top: 1rem;
}
.media__body {
  margin: 0 2rem;
}

/* Quotes */

.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--color-body-darker);
  line-height: 1.3;
}

.quote__text::before {
  content: open-quote;
}
.quote__text::after {
  content: close-quote;
}
.quote__author {
  color: var(--color-headings);
  font-style: normal;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 0;
}
.quote__sub {
  color: var(--color-headings);
  opacity: 0.4;
  font-style: normal;
  font-size: 2rem;
}
.quote__line {
  position: relative;
  bottom: 5px;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }
  .quote__author {
    font-size: 2.4rem;
  }
  .quote__sub {
    font-size: 1.6rem;
  }
}

/* Grids */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Testimonial */

.testimonial {
  padding: 3rem;
}

.testimonial__image {
  position: relative;
}
.testimonial__image > img {
  width: 100%;
}
.testimonial__image > .icon-container {
  position: absolute;
  top: 3rem;
  right: -32px;
}

@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }
  .testimonial .quote {
    margin-left: 6rem;
  }
}

/* Callouts */

.callout {
  border-radius: 5px;
  padding: 4rem;
  color: #fff;
}

.callout--primary {
  background: var(--color-primary);
}
.callout .btn {
  justify-self: center;
  align-self: center;
}

.callout__content > h2 {
  color: #fff;
  margin-top: 0;
  font-size: 3rem;
}

.callout__content {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .callout .grid--cols-2 {
    grid-template-columns: 1fr auto;
  }
  .callout__content {
    text-align: left;
  }
  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }
}

/* Collapsibles */

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0deg);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Blocks */
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}
.block--skewed {
  padding-bottom: 5%;
}
.block__header {
  text-align: center;
}
.block--dark {
  background: #000;
  color: #7b858b;
}
.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical)+4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}
.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical)+4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}
.block--dark .block__heading {
  color: #fff;
}
.block__heading {
  margin-top: 0;
}

/* Nav */

.nav {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3rem;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 4;
}

.nav__title {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 300;
  margin: 0;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
  text-align: center;
}
.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}
.nav__item > a:hover {
  color: #fff;
}

.nav__icon {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__icon {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 6px;
}

@media screen and (min-width: 768px) {
  .nav__icon {
    display: none;
  }
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border-bottom: none;
  }
}

/* Hero */
.hero {
  clip-path: unset;
}
.hero .container {
}

.hero__sub {
  font-size: 2rem;
  color: #b9c4cf;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}
.hero__content {
  margin-top: 1.5rem;
}
.image__container {
  width: 80%;
  height: auto;
  border-radius: 20%;
  overflow: hidden;
  justify-self: center;
  margin-top: 5rem;
  grid-row: 1;
  box-shadow: 0 0 20px #f3f3f3;
}

.hero__image {
  width: 100%;
  height: 100%;
}
.hero__image--container {
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .hero {
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
    padding-top: 1.5rem;
  }
  .hero__content {
    text-align: left;
    align-self: center;
    margin-top: unset;
  }
  .image__container {
    align-self: flex-start;
    margin-top: 0;
    grid-row: unset;
  }
}

/* Projects */

.project {
  background: #000;
  box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
  color: #4a4a4a;
  max-width: 100%;
  /* min-width: 30rem; */
}
.carousel {
  overflow: hidden;
  max-width: 85rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.project__image-container {
  margin: 0;
}
.project img {
  height: auto;
  width: 100%;
  max-width: 85rem;
  border: 1px solid rgba(255, 255, 255, 0.89);
}
.project__content {
  padding: 2.4rem;
  background-color: transparent;
}

.project__title {
  color: var(--color-border);
  font-size: 2rem;
  margin-bottom: 1.6em;
  font-weight: 600;
}
.project__body {
  color: var(--color-border);
  font-size: 1.6rem;
  margin-bottom: 1em;
}
.project__heading {
  font-size: 6rem;
}

hr {
  background-color: #f5f5f5;
  border: none;
  display: block;
  height: 2px;
  margin: 2.4rem 0;
}
.carousel > .block {
  padding-left: 0;
  padding-right: 0;
}
.project__list {
  display: flex;
  flex-direction: column;
  /* overflow-x: scroll; */
  justify-content: center;
}
.carousel .carousel__item,
.carousel .carousel__item--hidden {
  display: none;
}

.carousel .carousel__item--visible {
  display: block;
  animation: fadeVisibility 0.5s;
}
.carousel__actions {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 25%;
  transform: translateY(-50%);
}
.carousel__actions button {
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  opacity: 0.5;
  transition: opacity 0.15s;
}

#carousel__button--next {
  margin-right: 1rem;
}
#carousel__button--next:hover {
  background-color: var(--color-headings);
}
#carousel__button--prev {
  margin-left: 1rem;
}
#carousel__button--prev:hover {
  background: var(--color-accent);
}
.content a {
  opacity: 0.5;
  transition: opacity 0.15s;
  cursor: unset;
}
.content a:hover {
  opacity: 1;
}
#carousel__button--prev:hover,
#carousel__button--next:hover {
  color: white;
  opacity: 1;
}
@keyframes fadeVisibility {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}
@media screen and (min-width: 1024px) {
  .carousel__actions {
    top: 50%;
  }
  .project__list {
    flex-direction: row;
  }
  .project img {
    width: 100%;
    max-width: 90rem;
  }
  .carousel {
    width: 100%;
    max-width: 90rem;
  }
}

.wrapper {
  max-height: 120px;
  border: 1px solid #000;
  display: flex;
}

.wrapper .item {
  min-width: 110px;
  height: 110px;
  line-height: 110px;
  text-align: center;
  background-color: #ddd;
}

.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.cv {
  vertical-align: middle;
  margin-right: 1rem;
}

/* Skills */

.top__skills {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.top__skills h3 {
  color: #b9c4cf;
  margin-left: 1rem;
  margin-bottom: 4rem;
}
.skill__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.skill__item {
  opacity: 0.6;
  text-align: center;
  transition: all 0.15s;
}
.skill__item:hover {
  opacity: 1;
  color: #fff;
  transform: scale(1.15);
}
.skill__item > p {
  font-size: 1.6rem;
}
.skill__icon {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .top__skills {
    flex-direction: row;
    justify-content: space-around;
  }
  .frontend,
  .backend,
  .database,
  .languages {
    width: 40%;
  }
  .skill__container {
    justify-content: unset;
  }
  .skill__item {
    margin-right: 2rem;
  }
}

/* Footer */

.footer {
  background: #232323;
  padding: 4.8rem;
}

.footer h2 {
  font-size: 6rem;
  margin: 0;
}
.footer h2,
.footer p {
  color: #7b858b;
  margin-bottom: 1rem;
}
.footer__body {
  display: flex;
  flex-direction: column;
}
.footer__icons {
  margin-top: 2rem;
}
.footer *:hover {
  opacity: 1;
  color: #fff;
}
.footer * {
  transition: opacity 0.15s;
}
.footer__icon--container a {
  opacity: 0.3;
  margin-right: 1rem;
  cursor: unset;
}

@media screen and (min-width: 768px) {
  .footer__body {
    flex-direction: row;
  }
  .footer__body {
    justify-content: space-around;
    align-items: center;
  }
}
