html {
  font-size: 62.5%;
}
body {
  color: #222;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  padding: 2rem;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
img {
  width: 100%;
}
#ital {
  font-style: italic;
}

h3 {
  margin: 3rem 0 1rem 0;
}
