<div style="max-width: 25%; width: 30%; margin: 3rem 4rem">
  <div class="card card--secondary card--popular">
    <header class="card__header">
      <h3 class="item__title">Entry</h3>
      <span class="item__main">$14</span>
      <span class="item__sub">/month</span>
      <span class="badge badge--secondary badge--small">10% Off</span>
      <span class="item__description">Easy start on the cloud</span>
    </header>
    <div class="card__body">
      <ul class="list list--tick">
        <li class="list--item">Unlimited Websites</li>
        <li class="list--item">Unlimited Bandwidth</li>
        <li class="list--item">100 GB SSD Storage</li>
        <li class="list--item">3 GB RAM</li>
      </ul>
      <button class="btn btn--outline btn--block">Buy Now</button>
    </div>
  </div>
</div>
