<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--cols-2">
    <header class="block__header hero__content">
      <h1 class="block__heading">Web Developer</h1>
      <p class="hero__sub">
        I'm a Graduate CS student focusing on web-development: React, Redux,
        NodeJs and Django
      </p>
      <a href="" class="btn btn--accent btn--stretched">Projects</a>
    </header>
    <div class="image__container">
      <img class="hero__image" src="./images/rakib.jpeg" alt="" />
    </div>
  </div>
</section>
