<div class="media">
  <div class="media__image">
    <svg class="icon">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start and Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quaerat ad
      porro consequatur ipsum, reiciendis veritatis cumque quam provident
      debitis!
    </p>
  </div>
</div>

<div class="media">
  <div class="media__image">
    <svg class="icon">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start and Managed Updates</h3>
    <p class="media__content">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem recusandae
      officiis consequatur quam sunt non fuga natus asperiores soluta sapiente.
    </p>
  </div>
</div>
