<nav class="nav collapsible collapsible--expanded">
  <a href="/">
    <h1 class="nav__title">Rakib Ali</h1>
  </a>
  <svg class="icon icon--white nav__icon">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">About</a></li>
    <li class="nav__item"><a href="#">Project</a></li>
    <li class="nav__item"><a href="#">Skills</a></li>
    <li class="nav__item"><a href="#">Contact</a></li>
  </ul>
</nav>
