<section class="block">
  <div class="container">
    <div class="project">
      <div class="project__image">
        <figure class="project__image-container">
          <img src="images/rakib.jpeg" alt="" />
        </figure>
      </div>
      <div class="project__content">
        <div class="content">
          <h2 class="project__title">Project Name</h2>
          <!-- icon for link -->
          <p class="project__body">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe
            minus cumque dolorem est vel expedita necessitatibus, cupiditate
            deserunt maiores fugiat?
          </p>
          <p class="project__body">Rakib Ali</p>
          <div class="project__footer">
            <!-- Border Bottom -->
            <hr />
            <div class="project__badges">
              <!-- Badges for each tech used -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
